[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hashids"]
	path = hashids
	url = https://github.com/alshum/hashids-r
[submodule "rwunderground"]
	path = rwunderground
	url = https://github.com/alshum/rwunderground
